/* navigation */
/* Update the value of max-width according to the width of Header-primary and Header-secondary */
/* 根据 Header-primary 和 Header-secondary 的宽度，修改 max-width 的大小。header 里东西很多时，max-width 改成更大一些 */
@media (min-width: 768px) and (max-width: 1099px) {
  .Header-primary .Header-controls {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Header-primary:after {
    content: " > ";
    margin-left: 20px;
  }

  .Header-primary:hover {
    padding-right: 30px;
    padding-bottom: 20px;
  }
  .Header-primary:hover .Header-controls {
    transition: max-width 1s;
    max-width: 1000px;
    overflow: unset;
    animation: delay-overflow-unset 1s;
  }
  @keyframes delay-overflow-unset {
    from {
      overflow: hidden;
    }
    to {
      overflow: unset;
    }
  }
  .Header-primary:hover:after {
    content: "";
  }

  .Header-primary:hover + .Header-secondary {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;
    float: unset;
  }
}

.Header-secondary .item-session button {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}
